<div class="container">
 <h2>新規会員登録</h2>
 <p>会員登録をご希望の方は、 下記のフォームに必要事項を入力し「入力内容を確認する」ボタンを押してください。</p>
 <div class="row">
  <div class="col-xs-12 col-md-12">
　　<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <div class="form-row">
      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :名字 %>(漢字)
        <%= f.text_field :last_name,class: :"form-control",placeholder:"山田" %>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :名前 %>(漢字)
        <%= f.text_field :first_name,class: :"form-control",placeholder:"太郎" %>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :名字 %>(カナ)
        <%= f.text_field :last_name_kana,class: :"form-control",placeholder:"ヤマダ" %>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :名前 %>(カナ)
        <%= f.text_field :first_name_kana,class: :"form-control",placeholder:"タロウ" %>
      </div>
      <div class="form-group col-12">
        <%= f.label :性別 %>
        <%= f.radio_button :gender,'0' %>
        <%= f.label :gender, '男性', value: true %>
        <%= f.radio_button :gender,'1' %>
        <%= f.label :gender, '女性', value: false %>
      </div>
      <div class="form-group col-12">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email,class: :"form-control",placeholder:"sample@sample.jp" %>
      </div>
      <div class="form-group col-12">
        <%= f.label :郵便番号 %>(ハイフン無し)
        <%= f.text_field :postal_code,class: :"form-control",placeholder:"1234567" %>
      </div>
      <div class="form-group col-12">
        <%= f.label :住所 %>
        <%= f.text_field :address,class: :"form-control",placeholder:"東京都千代田区大手町159" %>
      </div>
      <div class="form-group col-12">
        <%= f.label :電話番号 %>
        <%= f.text_field :telephone_number,class: :"form-control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
        <% end %>
        <%= f.password_field :password,class: :"form-control" %>
  　　  　<%= f.password_field :password_confirmation,class: :"form-control" %>
      </div>
　　　<%= f.submit "入力内容を確認する",class:"btn btn-secondary" %>
    </div>
  　<% end %>
  </div>
 </div>
</div>