<div class="container" style="min-height: 600px;">
  <h2>ログイン</h2>

  <p>会員の方は、下のフォームにメールアドレス・パスワードを入力して「ログイン」ボタンを押してください。</p>
  <div class="row">
   <div class="col-xs-12 col-md-10">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
     <div class="form-row">
      <div class="form-group col-xs-12 col-md-10">
       <%= f.label :メールアドレス %>
       <%= f.email_field :email,class: :"form-control",placeholder:"sample@sample.jp" %>
      </div>
      <div class="form-group col-xs-12 col-md-10">
       <%= f.label :パスワード %>
       <%= f.password_field :password, autocomplete: "current-password",class: :"form-control" %>
      </div>
      <div class="form-group col-xs-12 col-md-10">
       <%= f.submit "ログイン",class:"btn btn-primary" %>
      </div>
     </div>
    <% end %>
    <div class="login">
     <h2>会員登録がお済ではない方</h2>
     <p><%= link_to new_user_registration_path do %>
        こちら
       <% end %>から新規登録を行ってください。
     </p>
    </div>
   </div>
  </div>
</div>